@charset "utf-8"
/* webfont */

* {
    margin: 0;
    padding: 0;
}

/* 블릿없애기 */
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

html,
body {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

body {
    font-family: 'SUITE Variable', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2em;
    color: #000;
}

#wrap {
    min-width: 1400px;
    overflow: hidden;
}

#header {
    /* height: 104px; */
    border-bottom: 1px solid #000000;
}

.inner_header {
    width: 1320px;
    margin: 0 auto;
}

.header1 {
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    font-size: 12px;
}

.logo {
    padding-right: 100px;
}

.header2 {
    padding: 8px 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.hamburger {
    position: absolute;
    top: 16px;
    left: 0;
}

.util {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.util li {
    margin: 0 10px;
}

.util img {
    display: block;
}

.util {
    display: flex;
}

.util li {
    margin-left: 12px;
}

#nav {
    height: 49px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.gnb {
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
    display: flex;
    position: relative;
    /* indicator기준!! */
}

.gnb>li {
    display: inline-block;
    position: relative;
    width: 100px;
    text-align: center;
}

.gnb li a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

/* 서브메뉴 초기 상태: 숨김 */
.submenu {
    display: none;
    position: absolute;
    top: 49px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #eee;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.submenu::before {
    content: "";
    position: absolute;
    top: -10px;
    /* 9px의 틈을 메울 정도의 높이 */
    left: 0;
    width: 100%;
    height: 10px;
    background-color: transparent;
    /* 투명하게 설정 */
}


/* 서브메뉴 항목 스타일 */
.submenu li {
    padding: 8px;
    text-align: center;
}

/* 핵심: 마우스를 올렸을 때 서브메뉴 보이기 */
.gnb>li:hover .submenu {
    display: block;
}

.submenu li a {
    color: #7c7c7c;
    text-decoration: none;
    transition: color 0.3s;
}

.submenu li:hover a {
    color: #A05237;
}


.indicator {
    position: absolute;
    bottom: -8px;
    left: -10px;
    width: 120px;
    height: 3px;
    background-color: #A05237;
    transition: transform 0.4s ease, opacity 0.2s;
    opacity: 0;
    pointer-events: none;
}

/* 위치 계산 수정 */
.gnb li:nth-child(1):hover~.indicator {
    transform: translateX(0);
    opacity: 1;
}

.gnb li:nth-child(2):hover~.indicator {
    transform: translateX(100px);
    opacity: 1;
}

.gnb li:nth-child(3):hover~.indicator {
    transform: translateX(200px);
    opacity: 1;
}

.gnb li:nth-child(4):hover~.indicator {
    transform: translateX(300px);
    opacity: 1;
}

.gnb li:nth-child(5):hover~.indicator {
    transform: translateX(400px);
    opacity: 1;
}

.gnb li:nth-child(6):hover~.indicator {
    transform: translateX(500px);
    opacity: 1;
}


/* visual */
#visual {
    display: flex;
    justify-content: center;
}

.inner_visual {
    width: 1920px;
    height: 501px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: white;
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.swiper-pagination-bullet {
    background: var(#000);
    border-radius: var(50%);
    display: inline-block;
    height: 8px;
    opacity: 2;
    width: 8px;
}

#visual .swiper-button-next,
#visual .swiper-button-prev {
    align-items: center;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
}

#visual .swiper-pagination-bullet-active {
    background: white;
    opacity: 1;
}

#visual .swiper-pagination-bullet {
    background: white;
}

/* shop */
#shop {
    margin: auto;
    width: 100%;
    max-width: 1920px;
    height: 85px;
    background-color: #A05237;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

.category {
    padding: 26px 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.category li {
    width: 150px;
    text-align: center;
}

.category li a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 20px;
    transition: 0.3s;
}

.category li a.on {
    color: #A05237;
    background-color: #ffffff;
    border-radius: 20px;
}

/* all */
.inner_all {
    width: 1320px;
    height: 3100px;
    margin: auto;
}

#all h1 {
    font-weight: 400;
    font-size: 20px;
    padding: 50px 0;
}

#all ul {
    display: flex;
    justify-content: space-between;
}

.coffee_letter {
    display: flex;
    justify-content: flex-start;
}

.coffee_letter ul li {
    padding-right: 39px;
}


/* transition */
.cover_wrap {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.view_btn {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #fff;
    padding: 5px;
}

.img_wrap {
    overflow: hidden;
    border-radius: 10px;
}

.img_wrap img {
    /* 커진다 */
    width: 100%;
    display: block;
    /* A keyframe */
    transform: scale(1);
    transition: transform 0.5s;
}

.cover_wrap:hover .img_wrap img {
    /* B keyframe */
    transform: scale(1.1);
}

.cover {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* A keyframe */
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 10px;
}

.cover_wrap:hover .cover {
    /* B keyframe */
    opacity: 1;

}

.cover p {
    /* A keyframe */
    transform: translateY(100px);
    transition: transform 0.5s;
    font-size: 20px;
}

.cover_wrap:hover .cover p {
    /* B keyframe */
    transform: translateY(0);
}

.btn {
    display: block;
    border: 1px solid #fff;
    padding: 8px 15px;
    margin-top: 30px;
    /* A keyframe */
    transform: translateY(100px);
    transition: transform 0.5s;
}

.cover_wrap:hover .cover .btn {
    /* B keyframe */
    transform: translateY(0);
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.info_wrap {
    padding: 10px 5px;
    text-align: left;
}

.name_area {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 10px;
}

.text_badge {
    display: inline-block;
    padding: 2px 5px;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    line-height: 1.2;
    white-space: nowrap;
}

.text_badge.new {
    background-color: #A64F30;
}

.text_badge.best {
    background-color: #7B7A2D;
}

.text_badge.recomm {
    background-color: #d19fe8;
}
.text_badge.hit {
    background-color: #71b1db;
}

.prod_name {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.hash_group span {
    display: inline-block;
    border: 1px solid #333;
    color: #333;
    padding: 1px 15px;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 10px;
}


/* BACK_TO_TOP */
#BACK_TO_TOP {
    height: 49px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.inner_BACK_TO_TOP {
    width: 1320px;
    margin: auto;
    padding-top: 8px;
}

.inner_BACK_TO_TOP p {
    text-align: right;
    font-size: 20px;
}

/* footer */
#footer {
    background-color: #A05237;
}

.inner_footer {
    margin: auto;
    width: 1320px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    height: 364px;
    padding-top: 62px;
}

.footer_gnb {
    display: flex;
    width: 217px;
    height: 96px;
}

.footer_gnb ul {
    padding-right: 100px;
}

.footer_gnb li {
    padding-bottom: 30px;
}

.footer_sns {
    padding-top: 80px;
}

.footer_sns ul {
    display: flex;
}

.footer_sns li {
    padding-right: 20px;
}

.footer_left {
    padding-top: 90px;
}

.footer_middle {
    padding-top: 56px;
}

.footer_right {
    width: 320px;
    height: 245px;
    padding-top: 25px;
}

.footer_bottom {
    font-weight: lighter;
    color: #fff;
    height: 35px;
    background-color: #392A1A;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}