@charset "utf-8"
/* webfont */

* {
    margin: 0;
    padding: 0;
}

/* 블릿없애기 */
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

html,
body {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

body {
    font-family: 'SUITE Variable', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2em;
    color: #2e2e2e;
}

#wrap {
    min-width: 1400px;
    overflow: hidden;
}

#header {
    /* height: 104px; */
    border-bottom: 1px solid #333;
}

.inner_header {
    width: 1320px;
    margin: 0 auto;
}

.header1 {
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    font-size: 12px;
}

.logo {
    padding-right: 100px;
}

.header2 {
    padding: 8px 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.util {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.util li {
    margin: 0 10px;
}

.util img {
    display: block;
}

.util {
    display: flex;
}

.util li {
    margin-left: 12px;
}

#nav {
    height: 49px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.gnb {
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
    display: flex;
    position: relative;
    /* indicator기준!! */
}

.gnb>li {
    display: inline-block;
    position: relative;
    width: 100px;
    text-align: center;
}

.gnb li a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

/* 서브메뉴 초기 상태: 숨김 */
.submenu {
    display: none;
    position: absolute;
    top: 49px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #eee;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.submenu::before {
    content: "";
    position: absolute;
    top: -10px;
    /* 9px의 틈을 메울 정도의 높이 */
    left: 0;
    width: 100%;
    height: 10px;
    background-color: transparent;
    /* 투명하게 설정 */
}


/* 서브메뉴 항목 스타일 */
.submenu li {
    padding: 8px;
    text-align: center;
}

/* 핵심: 마우스를 올렸을 때 서브메뉴 보이기 */
.gnb>li:hover .submenu {
    display: block;
}

.submenu li a {
    color: #7c7c7c;
    text-decoration: none;
    transition: color 0.3s;
}

.submenu li:hover a {
    color: #A05237;
}

.indicator {
    position: absolute;
    bottom: -8px;
    left: -10px;
    width: 120px;
    height: 3px;
    background-color: #A05237;
    transition: transform 0.4s ease, opacity 0.2s;
    opacity: 0;
    pointer-events: none;
}

.gnb li:nth-child(1):hover~.indicator {
    transform: translateX(0);
    opacity: 1;
}

.gnb li:nth-child(2):hover~.indicator {
    transform: translateX(100px);
    opacity: 1;
}

.gnb li:nth-child(3):hover~.indicator {
    transform: translateX(200px);
    opacity: 1;
}

.gnb li:nth-child(4):hover~.indicator {
    transform: translateX(300px);
    opacity: 1;
}

.gnb li:nth-child(5):hover~.indicator {
    transform: translateX(400px);
    opacity: 1;
}

.gnb li:nth-child(6):hover~.indicator {
    transform: translateX(500px);
    opacity: 1;
}

.top_text {
    width: 1320px;
    margin: auto;
    height: 194px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* archive */
#archive {
    margin: auto;
    width: 100%;
    height: 85px;
    background-color: #A05237;
    border-bottom: 1px solid #333;
}

.category {
    padding: 26px 0;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.category li {
    text-align: center;
    width: 150px;
    font-size: 15px;
    color: white;
}

.category li:first-child,
.category li:last-child {
    width: 150px;
}

.category li:last-child {
    border-right: none
}

.category li a {
    cursor: pointer;
}

.category .on {
    color: #A05237;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 20px;
}

/* video */
#video_wrap {
    position: relative;
    height: 720px;
    overflow: hidden;
}

#video_wrap video {
    position: absolute;
    top: -350px;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;
}

/* brew_guide */
#brew_guide {
    border-bottom: 1px solid #333;
    background: url(../images/2_brew_guide/bg.png)no-repeat center;
}

.inner_brew_guide {
    width: 1320px;
    margin: auto;
    height: 700px;
    padding-top: 50px;
}

.brew_guide_wrap {
    display: flex;
}

.title {
    font-size: 30px;
    margin-bottom: 50px;
}

.brew_guide_text {
    width: 446px;
    height: 298px;
    font-size: 20px;
    margin-left: 91px;
    padding-top: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brew_guide_text img {
    margin: 40px 0;
}

/* Filter_Guide */
#Filter_Guide {
    border-bottom: 1px solid #333;
}

.inner_Filter_Guide {
    width: 1320px;
    height: 1030px;
    margin: auto;
}

#Filter_Guide h1 {
    padding: 74px 0;
    font-size: 40px;
    font-weight: 400;
}

.Filter_Guide_step ul {
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: lighter;
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 117px;
}

.Filter_Guide_step li p {
    margin: 14px 22px;
}

.Filter_Guide_step ul li {
    width: 397px;
    height: 310px;
    background-color: #A05237;
    border-radius: 0 70px 0 0;
    position: relative;
    overflow: visible;
    position: relative;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.Filter_Guide_step ul li:hover {
    transform: translateY(-30px) !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.curved-text {
    position: absolute;
    top: -28px;
    right: -40px;
    width: 80px;
    z-index: 10;
}

.down {
    position: absolute;
    top: -6px;
    right: 10px;
}


/* Filter_recipe */
#Filter_recipe {
    border-bottom: 1px solid #333;
}

.inner_Filter_recipe {
    width: 1320px;
    height: 1100px;
    margin: auto;
    text-align: center;
}

#Filter_recipe h1 {
    padding: 74px 0 30px 0;
    font-size: 40px;
    font-weight: 400;
}

.recipe_wrap {
    display: flex;
    justify-content: center;
    margin-top: 95px;
}

.hot {
    width: 622px;
    height: 675px;
    border-right: 2px solid #dadada;
    padding-right: 50px;
}

.ice {
    width: 622px;
    height: 675px;
    padding-left: 50px;
}

.hot h2 {
    width: 100px;
    height: 100px;
    background-color: #A05237;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    margin-left: 255px;
}

.hot_water {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 95px;
}

.hot_water li {
    width: 33%;
    text-align: center;
    margin-bottom: 30px;
}


.icon_wrap {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.ice h2 {
    width: 100px;
    height: 100px;
    background-color: #1A6099;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    margin-left: 255px;
}

.ice_water {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 95px;
}

.ice_water li {
    width: 33%;
    text-align: center;
}

.ice_water_space {
    margin-bottom: 30px;
}


/* review */
#review {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    height: 1200px;
}

#review .title {
    font-size: 40px;
    margin-top: 94px;
    margin-bottom: 50px;
}

#review .sub_title {
    font-size: 20px;
    margin-bottom: 50px;
}

#review .container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#review .review_box {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    gap: 20px;
    flex-wrap: wrap;
    cursor: pointer;
}

#review .review_box li {
    width: 321px;
    height: 321px;
    position: relative;
    overflow: hidden;
}

#review .review_box li img:first-child {
    transition: all 0.5s;
}

#review .cover {
    position: absolute;
}

#review .cover.vertical {
    top: 100%;
    left: 0;
    transition: all 0.7s ease-in-out;
}

#review .contents {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    color: #fff;
    text-align: left;
    font-weight: 300;
}

#review .contents.vertical {
    top: 100%;
    left: 0;
    transition: all 0.5s ease-in-out;
}

#review .member {
    display: flex;
    align-items: center;
}

#review .member p {
    padding-left: 10px;
}

#review .contents .text {
    padding-top: 10px;
}

#review .cafe {
    line-height: 1.2;
}

#review .review_box li:hover>img:first-child {
    filter: brightness(0.3);
}

#review .review_box li:hover .contents.vertical {
    top: 0;
}

#review .review_box .text:hover {
    text-decoration: underline;
}

#review .btn_more {
    display: block;
    margin: 100px 0;
    margin-left: 605px;
    background-color: #A05237;
    border: 1px solid #A05237;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

#review .btn_more span {
    font-size: 20px;
    font-weight: 400;
}

.title span {
    display: inline-block;
    background: linear-gradient(to top, #da9b85 30%, transparent 40%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: 0.8s ease-in-out;
    line-height: 1.3;
    font-weight: bold;
    color: #333;
}

[data-aos="highlight"].aos-animate span {
    background-size: 100% 100%;
}





/* BACK_TO_TOP */
#BACK_TO_TOP {
    height: 49px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.inner_BACK_TO_TOP {
    width: 1320px;
    margin: auto;
    padding-top: 8px;
}

.inner_BACK_TO_TOP p {
    text-align: right;
    font-size: 20px;
}

/* footer */
#footer {
    background-color: #A05237;
}

.inner_footer {
    margin: auto;
    width: 1320px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    height: 364px;
    padding-top: 62px;
}

.footer_gnb {
    display: flex;
    width: 217px;
    height: 96px;
}

.footer_gnb ul {
    padding-right: 100px;
}

.footer_gnb li {
    padding-bottom: 30px;
}

.footer_sns {
    padding-top: 80px;
}

.footer_sns ul {
    display: flex;
}

.footer_sns li {
    padding-right: 20px;
}

.footer_left {
    padding-top: 90px;
}

.footer_middle {
    padding-top: 56px;
}

.footer_right {
    width: 320px;
    height: 245px;
    padding-top: 25px;
}

.footer_bottom {
    font-weight: lighter;
    color: #fff;
    height: 35px;
    background-color: #392A1A;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}