@charset "utf-8"
/* webfont */

* {
    margin: 0;
    padding: 0;
}

/* 블릿없애기 */
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

html,
body {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

body {
    font-family: 'SUITE Variable', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2em;
    color: #000;
}

#wrap {
    min-width: 1400px;
    overflow: hidden;
}

#header {
    /* height: 104px; */
    border-bottom: 1px solid #000000;
}

.inner_header {
    width: 1320px;
    margin: 0 auto;
}

.header1 {
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    font-size: 12px;
}

.logo {
    padding-right: 100px;
}

.header2 {
    padding: 8px 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.util {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.util li {
    margin: 0 10px;
}

.util img {
    display: block;
}

.util {
    display: flex;
}

.util li {
    margin-left: 12px;
}

#nav {
    height: 49px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.gnb {
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
    display: flex;
    position: relative;
    /* indicator기준!! */
}

.gnb>li {
    display: inline-block;
    position: relative;
    width: 100px;
    text-align: center;
}

.gnb li a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

/* 서브메뉴 초기 상태: 숨김 */
.submenu {
    display: none;
    position: absolute;
    top: 49px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #eee;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.submenu::before {
    content: "";
    position: absolute;
    top: -10px;
    /* 9px의 틈을 메울 정도의 높이 */
    left: 0;
    width: 100%;
    height: 10px;
    background-color: transparent;
    /* 투명하게 설정 */
}


/* 서브메뉴 항목 스타일 */
.submenu li {
    padding: 8px;
    text-align: center;
}

/* 핵심: 마우스를 올렸을 때 서브메뉴 보이기 */
.gnb>li:hover .submenu {
    display: block;
}

.submenu li a {
    color: #7c7c7c;
    text-decoration: none;
    transition: color 0.3s;
}

.submenu li:hover a {
    color: #A05237;
}

.indicator {
    position: absolute;
    bottom: -8px;
    left: -10px;
    width: 120px;
    height: 3px;
    background-color: #A05237;
    transition: transform 0.4s ease, opacity 0.2s;
    opacity: 0;
    pointer-events: none;
}

/* 위치 계산 수정 */
.gnb li:nth-child(1):hover~.indicator {
    transform: translateX(0);
    opacity: 1;
}

.gnb li:nth-child(2):hover~.indicator {
    transform: translateX(100px);
    opacity: 1;
}

.gnb li:nth-child(3):hover~.indicator {
    transform: translateX(200px);
    opacity: 1;
}

.gnb li:nth-child(4):hover~.indicator {
    transform: translateX(300px);
    opacity: 1;
}

.gnb li:nth-child(5):hover~.indicator {
    transform: translateX(400px);
    opacity: 1;
}

.gnb li:nth-child(6):hover~.indicator {
    transform: translateX(500px);
    opacity: 1;
}


/* visual */

#visual {
    height: 698PX;
    background-image: url(../images/2_visual/img1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    animation: visual 15s infinite;
}

/* 애니메이션만들기 */
@keyframes visual {
    0% {
        background-image: url(../images/2_visual/img1.jpg);
    }

    25% {
        background-image: url(../images/2_visual/img2.jpg);
    }

    50% {
        background-image: url(../images/2_visual/img3.jpg);
    }

    75% {
        background-image: url(../images/2_visual/img4.jpg);
    }

    100% {
        background-image: url(../images/2_visual/img1.jpg);
    }
}

/* our_story */
.inner_our_story {
    width: 1320px;
    height: 826px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    box-sizing: border-box;
}

.our_story_text {
    width: 560px;
    height: 350px;
    font-size: 20px;
    padding-left: 51px;
}

.our_story_text h1 {
    padding: 94px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

/* about_us */
.inner_about_us {
    width: 1320px;
    height: 1464px;
    margin: auto;
}

.inner_about_us {
    margin: 0 auto;
    gap: 80px 40px;
    position: relative;
}

.text_area h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 500;
}

.text_area p {
    line-height: 28px;
    font-size: 16px;
}

.slogan {
    width: 844px;
    height: 471px;
    display: flex;
    justify-content: space-between;
}

.vision {
    width: 368px;
    height: 743px;
    position: absolute;
    top: 0;
    right: 0;
}

.vision_text {
    padding: 90px 0 72px 0;
}

.wrap {
    width: 1053px;
    height: 813px;
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
}

.mission {
    width: 368px;
    height: 789px;
}

.mission_text {
    padding-bottom: 85px;
}

.core_values {
    width: 575px;
    height: 816px;
}

.core_values_text {
    padding-top: 54px;
}

#team {
    background: url(../images/5_team/img1.jpg)no-repeat center;
}

.inner_team {
    width: 1320px;
    height: 1050px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

#team h1 {
    font-size: 40px;
    font-weight: 600;
    padding-top: 80px;
}

#team p {
    padding-top: 750px;
    font-size: 20px;
    line-height: 1.5em;
}


















/* BACK_TO_TOP */
#BACK_TO_TOP {
    height: 49px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.inner_BACK_TO_TOP {
    width: 1320px;
    margin: auto;
    padding-top: 8px;
}

.inner_BACK_TO_TOP p {
    text-align: right;
    font-size: 20px;
}

/* footer */
#footer {
    background-color: #a64f30;
}

.inner_footer {
    margin: auto;
    width: 1320px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    height: 364px;
    padding-top: 62px;
}

.footer_gnb {
    display: flex;
    width: 217px;
    height: 96px;
}

.footer_gnb ul {
    padding-right: 100px;
}

.footer_gnb li {
    padding-bottom: 30px;
}

.footer_sns {
    padding-top: 80px;
}

.footer_sns ul {
    display: flex;
}

.footer_sns li {
    padding-right: 20px;
}

.footer_left {
    padding-top: 90px;
}

.footer_middle {
    padding-top: 56px;
}

.footer_right {
    width: 320px;
    height: 245px;
    padding-top: 25px;
}

.footer_bottom {
    font-weight: lighter;
    color: #fff;
    height: 35px;
    background-color: #392A1A;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}